@import "tailwindcss";

/* --- TUS ESTILOS PERSONALIZADOS --- */
@theme {
  --color-primary: #2563eb;
  --color-primary-dark: #1e40af;
}

/* Scroll suave */
html {
  scroll-behavior: smooth;
}

/* Asegurar fondo blanco y texto oscuro */
body {
  background-color: white;
  color: #0f172a; /* Slate 900 */
}